*~
*.~*~
*.o
*.bak
.deps
.dirstamp
doxygen-doc
crpi_crcl_dir
ulapi_dir

# unused files from base CRPI

Libraries/CRPI/crpi_demo_hack.cpp
Libraries/CRPI/crpi_demo_hack.h
Libraries/ThirdParty/CL_NUI/lib/
Libraries/ThirdParty/LeapSDK/head_sha.txt
Libraries/ThirdParty/LeapSDK/include/Leap.i
Libraries/ThirdParty/LeapSDK/lib/
Libraries/ThirdParty/LeapSDK/version.txt
Libraries/ThirdParty/Manus/Manus.cs
Libraries/ThirdParty/Manus/x64/
Libraries/ThirdParty/Manus/x86/
Libraries/ThirdParty/MyoSDK/HEAD.txt
Libraries/ThirdParty/MyoSDK/LICENSE.txt
Libraries/ThirdParty/MyoSDK/MyoUnity.unitypackage
Libraries/ThirdParty/MyoSDK/Start Here.html
Libraries/ThirdParty/MyoSDK/VERSION.txt
Libraries/ThirdParty/MyoSDK/drivers/
Libraries/ThirdParty/MyoSDK/lib/
Libraries/ThirdParty/MyoSDK/myo.framework/Headers
Libraries/ThirdParty/MyoSDK/myo.framework/Resources
Libraries/ThirdParty/MyoSDK/myo.framework/Versions/A/Resources/
Libraries/ThirdParty/MyoSDK/myo.framework/Versions/A/_CodeSignature/
Libraries/ThirdParty/MyoSDK/myo.framework/Versions/A/myo
Libraries/ThirdParty/MyoSDK/myo.framework/Versions/Current
Libraries/ThirdParty/MyoSDK/myo.framework/myo
Libraries/ThirdParty/NI/NIDAQ/lib/
Libraries/ThirdParty/OpenCV/lib/
Libraries/ThirdParty/OpenCV2/bin/
Libraries/ThirdParty/OpenCV2/lib/
Libraries/ThirdParty/OpenNI/SamplesConfig.xml
Libraries/ThirdParty/OpenNI/bin/
Libraries/ThirdParty/OpenNI/key.txt
Libraries/ThirdParty/OpenNI/lib/
Libraries/ThirdParty/OpenNI/licenses.xml
Libraries/ThirdParty/OpenNI/modules - Copy.xml
Libraries/ThirdParty/OpenNI/modules.xml
Libraries/ThirdParty/OpenVR/bin/
Libraries/ThirdParty/OpenVR/controller_callouts/
Libraries/ThirdParty/OpenVR/headers/openvr_api.cs
Libraries/ThirdParty/OpenVR/headers/openvr_api.json
Libraries/ThirdParty/OpenVR/lib/
Libraries/ThirdParty/OptiTrack/lib/
Libraries/ThirdParty/Vicon/bin/
Libraries/ThirdParty/glew/glew-1.11.0/LICENSE.txt
Libraries/ThirdParty/glew/glew-1.11.0/README.txt
Libraries/ThirdParty/glew/glew-1.11.0/TODO.txt
Libraries/ThirdParty/glew/glew-1.11.0/bin/
Libraries/ThirdParty/glew/glew-1.11.0/doc/
Libraries/ThirdParty/glew/glew-1.11.0/lib/
Libraries/ThirdParty/glut/lib/
Libraries/ThirdParty/sdl2-2.0.3/bin/
Libraries/ThirdParty/sdl2-2.0.3/include/SDL_config.h.cmake
Libraries/ThirdParty/sdl2-2.0.3/include/SDL_config.h.in
Libraries/ThirdParty/sdl2-2.0.3/include/doxyfile
Libraries/ulapi/.gitignore
Libraries/ulapi/AUTHORS
Libraries/ulapi/COPYING
Libraries/ulapi/ChangeLog
Libraries/ulapi/Doxyfile
Libraries/ulapi/INSTALL
Libraries/ulapi/LICENSE.md
Libraries/ulapi/Makefile.am
Libraries/ulapi/Makefile.local
Libraries/ulapi/NEWS
Libraries/ulapi/README
Libraries/ulapi/README.Linux
Libraries/ulapi/README.Windows
Libraries/ulapi/README.md
Libraries/ulapi/RTAI.md
Libraries/ulapi/acinclude.m4
Libraries/ulapi/autoconf.sh
Libraries/ulapi/config/
Libraries/ulapi/configure.ac
Libraries/ulapi/distit.sh
Libraries/ulapi/doxygen.am
Libraries/ulapi/doxygen.m4
Libraries/ulapi/lib/
Libraries/ulapi/package.xml
Libraries/ulapi/rtlib/
Libraries/ulapi/src/Makefile.am
Libraries/ulapi/src/broadcasttest.c
Libraries/ulapi/src/dlfuncs.c
Libraries/ulapi/src/dltest.c
Libraries/ulapi/src/inb.c
Libraries/ulapi/src/multicasttest.c
Libraries/ulapi/src/outb.c
Libraries/ulapi/src/rtai_rtapi.c
Libraries/ulapi/src/rtai_rtapi_hal.c
Libraries/ulapi/src/rtapi.h
Libraries/ulapi/src/rtapi_app.h
Libraries/ulapi/src/semtest.c
Libraries/ulapi/src/serialtest.c
Libraries/ulapi/src/sockettest.c
Libraries/ulapi/src/stub_rtapi.c
Libraries/ulapi/src/stub_ulapi.c
Libraries/ulapi/src/ultest.c
Libraries/ulapi/src/unix_rtapi.c
Libraries/ulapi/src/win32_rtapi.c
Libraries/ulapi/ulapi.m4
Libraries/ulapi/win32/

# files from this distro

Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/*.xsd
bin/Application_CRPI_Test
bin/CRCL_Client_Shell
bin/CRCL_Command_Reader
bin/CRCL_Robot_Simulator
bin/CRCL_Status_Reader
bin/CRPI_Eval
bin/CRPI_Shell
bin/XMLInterface
bin/Small_Test
bin/Makefile
bin/Makefile.in
bin/Move_Test
bin/Fanuc_Test
bin/Motoman_Test
bin/URDF_CRPI_Test
config/compile
config/config.guess
config/config.h
config/config.h.in
config/config.sub
config/depcomp
config/install-sh
config/missing
config/stamp-h1
config.log
config.status
lib/*.a
lib/Makefile
lib/Makefile.in

crcl_cpp_tools_dir
