CRCL_CSharp/CRCL_CSharp_Common/bin/
CRCL_CSharp/CRCL_CSharp_Common/obj/Debug/
CRCL_CSharp/CRCL_CSharp_Common/obj/Release/.NETFramework,Version=v4.0.AssemblyAttribute.cs
CRCL_CSharp/CRCL_CSharp_Common/obj/Release/CRCL_CSharp.dll
CRCL_CSharp/CRCL_CSharp_Common/obj/Release/CRCL_CSharp.dll.mdb
CRCL_CSharp/CRCL_CSharp_Common/obj/Release/CRCL_CSharp_Common.csproj.FilesWrittenAbsolute.txt
CRCL_CSharp/ConsoleClient/bin/
CRCL_CSharp/ConsoleClient/obj/
CRCL_CSharp/SimRobotServer/bin/
CRCL_CSharp/SimRobotServer/obj/
